.AddPlayer {
    text-align: center;
}

.AddPlayer__input {
    background: transparent;
    border: none;
    border-bottom: 3px solid red;
    width: 400px;
    color: #000;
    font-size: 30px;
    text-align: center;
}

.AddPlayer__submit {
    margin-left: 30px;
    background: red;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}